

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0;
    color: #AAAAAA;
}
/* <!-- HEADER SECTION START --> */

.header{
    padding: 50px 100px;
}

/* <!-- NAV SECTION START --> */
.nav-bar{
    justify-content: space-between;
}
.brand{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    gap: 30px;
    list-style: none;
    
}
.nav-link{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #3A3A3A;
}
.icon-container{
    gap: 30px;
}
.icon-img{
    width: 1.8rem;
    height: 1.8rem;
}

/* <!-- BANNER SECTION START --> */
.banner{
    justify-content: space-between;
    background-image: url(../images/Circle-design.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 475px 475px;
    padding: 100px 0px;

}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
    font-weight: 600;
}
.prebook-btn{
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
    gap: 8px;
    padding: 10px 25px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
}
.arrow-icon{
    width: 24px;
    height: 24px;
}
.banner-main-img{
    width: 440px;
    height: 414px;
}
/* <!-- SHARED SECTION START --> */
.display-flex{
    display: flex;
}
.primary-text-color{
    color: #3A3A3A;
}



/* <!-- MAIN SECTION START --> */

.logos{
    margin: 20px 100px;
    
}
.brand-logo{
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 36px 30px;
    border-top: 1px solid #3A3A3A;
    border-bottom: 1px solid #3A3A3A;
}
.logo-img{
    width: 100px;
    height: 40px;
}



/* <!-- FOOTER SECTION START --> */
/* <!-- Responsive for Mobile --> */
@media screen and (max-width: 576px) {
  /* General padding adjustment */
  .header {
    padding: 20px;
  }
  .nav-bar{
    flex-direction: column;
    padding-bottom: 20px;
  }

  .brand {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    outline: none;
  }

  .nav-links {
    display: none; /* Hide nav links on mobile */
  }

  /* BANNER */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    background-size: 257px 257px;
    background-position: center top;
    padding: 40px 20px;
  }
  .banner-description{
    text-align: justify;
  }
  .banner-main-img{
    width: 200px;
    height: 190px;
  }
}

/* <!-- Responsive for Medium device --> */
@media screen and (min-width:577px) and (max-width:992px) {
    .nav-links{
        justify-content: center;
        align-items: center;
    }
    .banner{
        gap: 40px;
        background-size: 350px 340px;
        background-position: calc(100% + 2px);
        
    }
    .banner-main-img{
    width: 300px;
    height: 290px;
  }
  .banner-description{
    padding-right: 20px;
  }
}